@use "../../foundation/variables" as *;

/* ----- button component ----- */
.c-button--tab {
  padding: 15px 0 11px;
  width: 120px;
  border: 1px solid $main-color;
  border-bottom: 1px solid $bg-color;
  border-radius: 6px 6px 0 0;
  text-align: center;

  @include breakpoint(tablet) {
    padding: 20px 0 14px;
    width: 258px;
    font-size: 2rem;
  }

  &.is-current {
    padding-bottom: 15px;
    font-weight: 700;

    @include breakpoint(tablet) {
      padding-bottom: 20px;
    }
  }
}