@use "../../foundation/variables" as *;

/* ----- button component ----- */
.c-button--tab {
  padding-block: 15px;
  width: 120px;
  border: 1px solid $main-color;
  border-bottom: 1px solid $bg-color;
  border-radius: 6px 6px 0 0;
  text-align: center;

  @include breakpoint(tablet) {
    width: 258px;
    padding-block: 20px;
    font-size: 2rem;
  }
}