@use "../../foundation/variables" as *;

/* ----- contents ----- */
.p-contents {
  margin-top: 56px;
  width: 100%;
  border-bottom: 1px solid $gray-color;
  position: relative;

  @include breakpoint(tablet) {
    margin-top: 80px;
  }

  &__tabs {
    border-bottom: 1px solid $main-color;
    position: relative;

    > div {
      position: absolute;
      left: 50%;
      bottom: -1px;
      transform: translateX(-50%);
    }

    button + button {
      margin-left: 12px;

      @include breakpoint(tablet) {
        margin-left: 24px;
      }
    }
  }
}